li{
    color: red;
}
#list2{
    color: blue;
}
a[href="https://www.google.com"]{
    color: green;
}
.list5{
    background-color: black;
    color: white;
}
div a{
    background-color: blue;
    color: white;
}