body{
    height: 2000px;
}
ul{
    background-color: rgb(9, 9, 9);
    list-style-type: none;
    overflow: auto;
    position: fixed;
    top: -15px;
    left: -10px;
    width: 100%;

}
li{
    color: white;
    padding: 10px 15px;
    float: left;
}